!!! 5
%html
  %head
    %title= "Google Book API AutoComplete"
  %body
    %p= "This web page will show autocompletion of book names from the Google Book API"
    %input{:type => "text", :id => "book-input"}
